@import "tailwindcss";



@theme {
  /* 🌞 Light Theme - Desert Day */
  --color-backgroundClr: #E5C07B; /* الرمل الفاتح */
  --color-foregroundClr: #F5F5DC; /* النصوص */
  --color-accent1: #FF8C42; /* للشعارات أو أزرار رئيسية */
  --color-accent2: #C49E6C; /* عناصر تكميلية */
  --color-accent3: #A67B5B; /* عناصر ثانية */
}

/* 🌙 Dark Theme - Desert Night */
[data-theme="dark"] {
  --color-backgroundClr: #1E1B16; /* خلفية شبه سوداء */
  --color-foregroundClr: #E5D9C5; /* نص فاتح */
  --color-accent1: #FF7847; /* برتقالي أفتح */
  --color-accent2: #7C6A4C; /* رملي غامق */
  --color-accent3: #B9975B; /* ذهبي رملي */
}

/* Base styles */
body {
  @apply bg-backgroundClr text-foregroundClr overflow-x-hidden;
}

@layer utilities {
  .container {
    @apply px-4 mx-auto sm:max-w-[540px] md:max-w-[760px] lg:max-w-[960px] xl:max-w-[1150px] 2xl:max-w-[1350px];
  }

  button {
    @apply cursor-pointer;
  }

  .subtitle {
    @apply text-neutral-800 uppercase mb-1 text-sm lg:text-base;
  }

  p {
    @apply text-neutral-800 text-base sm:text-lg lg:text-xl;
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl font-semibold uppercase;
  }

  .section {
    @apply pt-10 md:mt-20;
  }
}

@layer components {
  .primary-btn {
    @apply bg-accent1 px-6 py-4 rounded-[10px] hover:bg-accent2 transition-colors border border-accent3;
  }
}

/* Header */
.navbar {
  @apply fixed top-0 left-0 max-w-[320px] w-full h-screen bg-accent3 p-8 pt-16 -translate-x-[320px] transition-transform duration-300 z-40;
}
.navbar.active {
  @apply translate-x-0;
}
.overlay {
  @apply fixed top-0 left-0 w-full h-screen bg-accent3/50 opacity-0 pointer-events-none transition-opacity duration-300 z-30;
}
.overlay.active {
  @apply opacity-100 pointer-events-auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}